{% extends "layout.html"%}

{% block heading%}
{% endblock %}

{% block body%}
</style>
<body style="background-color:lightblue:">
  <table style="width: 50%" style="height: 50%", border="1" align="center" bgcolor="#7DAAE3">
    <tr>
      <th>Nombre completo: {{ nombre }}</th>
    </tr>
    <tr>
      <th>Fecha de Nacimiento: {{ fecha }}</th>
    </tr>
    <tr>
      <th>Lugar donde vives: {{ lugar }}</th>
    </tr>
    <tr>
      <th>Genero: {{ genero }}</th>
    </tr>
    <tr>
      <th>contraseña {{ contraseña }}</th>
    </tr>
    <tr>
      <th>correo electrónico {{ correo }}</th>
    </tr>
    <tr>
      <th>Estado civil {{ casado }}</th>
    </tr>
    <tr>
      <th>Carrera Universitaria {{ carrera }}</th>
    </tr>
{% endblock %}
